POSTGRES_DB=payments
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_PORT=5432

# Confluent Cloud - nunca versione valores reais
CONFLUENT_ENVIRONMENT_ID=env-xxxxx
CONFLUENT_CLUSTER_ID=lkc-xxxxx
CONFLUENT_KAFKA_API_KEY=xxxxx
CONFLUENT_KAFKA_API_SECRET=xxxxx
CONFLUENT_SCHEMA_REGISTRY_ENDPOINT=https://psrc-xxxxx.region.provider.confluent.cloud
CONFLUENT_SCHEMA_REGISTRY_API_KEY=xxxxx
CONFLUENT_SCHEMA_REGISTRY_API_SECRET=xxxxx
